$width-leftbar: 256px;

.admin-layout {
  position: relative;

  display: flex;

  // LEFTBAR
  &__leftbar {
    width: $width-leftbar;
  }

  // BODY (Header + content)
  &__content {
    width: calc(100% - #{$width-leftbar});

    // HEADER
    &__header {
    }
  }
}

@media screen and (max-width: 760px) {
  .admin-layout {
    &__leftbar {
      position: absolute;
    }

    &__content {
      width: 100%;
    }
  }
}
