.component-table {
  border-collapse: collapse;

  overflow: auto;
  th,
  td {
    padding: 8px;
  }

  th {
    font-size: 14px;
  }

  &__body {
    border-top: 1.5px solid rgba(83, 82, 82, 0.267);
  }
}
