$color-header: #00001580;
$width-fluid: 90%;

.admin-header-container {
  width: 100%;

  background-color: white;

  .admin-header {
    width: 95%;

    font-size: 15px;
    color: $color-header;

    &__top,
    &__bottom {
      padding: 10px 0;
    }

    &__top {
      &__left,
      &__right {
        align-items: center;
      }

      &__right {
        font-size: 20px;
        color: #0000155e;

        *:first-child {
          grid-column-end: 11;
        }
      }
    }

    &__botton {
    }
  }
}
