.header {
  background-color: #fa7d19;
  width: 100%;
  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  &__search {
    padding: 20px 0 10px 0;
    input {
      display: flex;
      padding: 0 20px;
      height: 35px;

      color: rgb(99, 95, 95);
      font-size: 16px;

      border-radius: 3px 0 0 3px;
      border: none;
      outline: none;
    }
    button {
      background-color: #fa7d19;

      color: white;

      border-radius: 0 3px 3px 0;
      border: 3px solid white;
      outline: none;
    }
    .cart-icon {
      justify-self: end;
      align-self: center;

      color: white;
      font-size: 24px;
    }
  }
}
