.header {
  background-color: #fa7d19;
  width: 100%;

  &__auth {
    color: white;
    text-decoration: underline;

    &__item {
      grid-column-end: end-line;
    }
  }

  &__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px 0;
  }
  &__search {
    padding: 20px 0 10px 0;
    input {
      display: flex;
      padding: 0 20px;
      height: 35px;

      color: rgb(99, 95, 95);
      font-size: 16px;

      border-radius: 3px 0 0 3px;
      border: none;
      outline: none;
    }
    button {
      background-color: #fa7d19;
      color: white;

      border-radius: 0 3px 3px 0;
      border: 3px solid white;
      outline: none;
    }
    .cart-icon {
      position: relative;

      justify-self: end;
      align-self: center;

      color: white;
      font-size: 24px;

      &__number {
        display: flex;
        align-items: center;
        justify-content: center;

        position: absolute;
        right: 0;
        top: -10px;

        width: 17px;
        height: 17px;

        border-radius: 50%;
        // border: 1.5px solid white;

        background-color: white;

        font-size: 10px;
        // color: white;
        color: #fa7d19;
        font-weight: bold;
      }
    }
  }
}
